<section class="hero is-danger is-large full-height">
  <div class="hero-head">
    <div class="container has-text-centered">
      
    </div>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="enormous">Nope</h1>
      <h1 class="subtitle">An error has occured. Sorry about that.</h1>
      <p>{{ message }}</p>
    </div>
  </div>
  <div class="hero-footer">
    <div class="container">
    </div>
  </div>
</section>
